@import "tailwindcss";

body {
  font-family: var(--font-plus-jakarta), "Plus Jakarta Sans", system-ui,
    sans-serif;

    /* background-color: red; */
}

.font-jakarta {
  font-family: var(--font-plus-jakarta), "Plus Jakarta Sans", sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite; /* adjust 20s to make it faster/slower */
}
